/****************************************/
/*             colors variable          */
/****************************************/
//primary colors
$main-background: hsl(233, 47%, 7%);
$card-background: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);
//neutral colors
$main-hedding-stats: hsl(0, 0%, 100%);
$main-paragraph: hsla(0, 0%, 100%, 0.75);
$stats-headings: hsla(0, 0%, 100%, 0.6);
/****************************************/
//z-index
$z-body: -10;
$z-image: -5;
$z-overlay: 10;

/****************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  color: $main-hedding-stats;
  //for paragraph 15px
}

body {
  display: grid;
  min-height: 100vh;
  background-color: $main-background;
  justify-content: center;
  align-content: center;
  font-family: 'Inter', sans-serif;
  z-index: $z-body;
  gap: 20px;
}

.stats-card {
  display: flex;
  flex-direction: column;
  width: 32.7rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: $card-background;

  &__img-container {
    position: relative;
  }

  &__img-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(277, 80%, 50%, 0.6);
    // background-blend-mode: overlay;
  }


  &__image-mobile {
    display: block;
    width: 100%;
  }

  &__image-desktop {
    display: none;
  }

  &__info {
    padding: 25px;
  }

  &__title {
    text-align: center;
    font-size: 29px;
    margin-bottom: 25px;
    font-weight: 700;

    &--accent {
      color: $accent;
    }
  }

  &__description {
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    margin: 25px auto;
    color: $main-paragraph;
    width: 255px;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
  }

  // &__stats-item

  &__item-title {
    font-size: 20px;
  }

  &__item-info {
    color: $stats-headings;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: $main-hedding-stats;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 500px) {
  .stats-card {
    flex-direction: row;
    width: unset;

    &__img-container {
      order: 2;
    }

    &__image-mobile {
      display: none;
    }

    &__image-desktop {
      display: block;
    }

    &__info {
      order: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__title {
      text-align: left;
    }

    &__description {
      text-align: left;
    }

    &__stats {
      flex-direction: row;
      text-align: left;
      justify-content: space-between;
    }
  }
}
