/* color variables*/

$very-dark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);
/******************/
$white: hsl(0, 0%, 100%);
$slightly-transparent-white-primary: hsla(
  0,
  0%,
  100%,
  0.75
); /* main paragraph*/
$slightly-transparent-white-secondary: hsla(0, 0%, 100%, 0.6); /* stats */
/******************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  height: 100%;
  background-color: $very-dark-blue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.card-component {
  width: 375px;
  border-radius: 10px;
  overflow: hidden;
  background-color: $dark-desaturated-blue;

  &__image-container {
    position: relative;
  }

  &__image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    height: auto;
    width: 100%;
    height: 100%;
    background-color: hsl(277, 80%, 30%);
    z-index: 100;
    mix-blend-mode: hard-light;
  }

  &__image {
    display: block;
    width: 100%;
    z-index: -100;
    height: auto;
  }

  &__header {
    text-align: center;
    color: $white;
  }

  &__header-text-decoration {
    color: $soft-violet;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: $white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
